*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.container{
background:white;
width:700px;
padding:40px;
border-radius:20px;
}

h1{
text-align:center;
margin-bottom:30px;
}

.question{
display:none;
}

.active{
display:block;
}

label{
display:block;
padding:15px;
margin:10px 0;
background:#f1f5f9;
border-radius:10px;
cursor:pointer;
}

.buttons{
display:flex;
gap:10px;
margin-top:20px;
}

button{
flex:1;
padding:15px;
border:none;
background:#2563eb;
color:white;
border-radius:10px;
cursor:pointer;
}

#submit{
display:none;
}
.question{
display:none;
}
#result{
margin-top:30px;
text-align:center;
font-size:28px;
font-weight:bold;
}

#themeBtn{

padding:10px 18px;

border:none;

background:#111827;

color:white;

border-radius:10px;

cursor:pointer;

float:right;

margin-bottom:20px;

}

body.dark{

background:#020617;

}

body.dark .container{

background:#0f172a;

color:white;

}

body.dark .question{

background:#1e293b;

}

body.dark label{

background:#334155;

color:white;

}

body.dark label:hover{

background:#475569;

}

body.dark button{

background:#2563eb;

}

body.dark h1{

color:white;

}